<h1>Contact</h1>

<p>We are always happy to hear from our customers.</p>

<p>Phone: <%= @phone %></p>

<p>Press: <a href="mailto:press@nowhere.com">press@nowhere.com</a></p>

<p><%= link_to('About Us', {:action => 'about'}) %></p>
