<h1>Contact</h1>

<p>We are always happy to hear from our customers.</p>

<%# dynamic instance var i.e. set in the controller %>
<p>Phone: <%= @phone %></p>

<%# MAILTO similat to the link_to method %>
<p>Press: <a href="mailto:press@nowhere.com">press@nowhere.com</a></p>

<p><%= link_to('About Us', {:action => 'about'}) %></p>
