<h1>This is the hello page.</h1>


<%= 1 + 1 %>

<br />

<%# This is a great comment! just do some code here %>
<% target = 'world' %>

<%# Actually concat the output %>
<%= "Hello #{target}!" %>

<br />

<% 3.times do |n| %>
  <p><%= n %></p>
<% end %>
